<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<body>
<div id="app">
    <v-app>
        <v-container fluid>
            <v-form
                    id="trans"
                    ref="trans"
                    v-model="valid">
                <v-text-field
                        v-model="url"
                        :rules="urlRules"
                        label="URL"
                        required
                ></v-text-field>

                <v-btn
                        :disabled="!valid"
                        color="primary"
                        @click="goTrans()"
                >
                    Translate
                </v-btn>
                <v-btn
                        :disabled="!valid"
                        color="primary"
                        outlined
                        @click="reset()"
                >
                    Reset
                </v-btn>
            </v-form>
        </v-container>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            url: '',
            valid: false,
            urlRules: [
                v => !!v || 'URL is required'
            ],
        },
        methods: {
            checkform: function(e) {
                return true;
            },
            goTrans: function() {
                window.open("https://translate.google.com/translate?u=" + this.url, "_blank");
            },
            reset: function() {
                this.url = '';
                this.$refs.trans.resetValidation();
            }

        }
    })

</script>
</body>
</html>
